body {
    font-family: calibri, helvetica, arial, sans-serif;
    font-size: 11px;
    color: #000;
}

.dated {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

.front {
    text-transform: uppercase;
    font-weight: bold;
}
