body {
    font-family: calibri, helvetica, arial, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #000;
}

.upper {
    text-transform: uppercase;;
}

.dated {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.front {
    text-align: center;
    font-weight: bold;
}

.center {
    text-align: center;
}

.title-box {
    width: 40%;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

li {
    margin-bottom: 11px;
}

/* EMPLOYER AGREEMENT */

.heading {
    color:#0070C0;
    font-size:14px;
    text-align: center;
}

.alpha {
    list-style-type: upper-alpha;
}
