/******************************************************************
Site Name:
Author:

Stylesheet: Layout Stylesheet
******************************************************************/

body{
	overflow-y: scroll;
}

.wrapper {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
}

.container {
	width: 100%;
}

  .header {}

    #inner-header { }

        .logo-container {
            @include grid (12);
        }

        nav {
            @include grid (12);
        }
        .top-nav {
            @include grid(12);
        }

        #sidebar-header {
            @include grid(3, $push:6);
        }

    #inner-content {}

        .full {
            @include grid (12);
        }

        .main {
            @include grid(8);
            @include break(tablet, 12);
            @include break(mobile, 12);
        }

       .sidebar {
            @include grid(4);
            @include break(tablet, 12);
            @include break(mobile, 12);
       }

.footer {
    @include grid (12);
}
