/******************************************************************
Site Name:
Author:

Stylesheet: Layout Stylesheet
******************************************************************/

body{
	overflow-y: scroll;
}

.wrapper {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
}

.container {
	width: 100%;
    @include clearfix;
}

    .header {
        @include clearfix;
    }

        #inner-header {
            @include grid (12);
        }

.logo-container {
    @include grid (3);
}

.menu-button-container {
    @include grid (3, $push:6);
}

.top-nav {
    @include grid (3);
}
        #inner-content {
        }

            .main {
                @include grid(7);
                @include break(tablet, 12);
                @include break(mobile, 12);
            }

            .full {
                @include grid (12);
            }

                .splash {
                    @include grid (6, $push:3);
                }

           .sidebar {
                @include grid(3,$push:1);
                @include break(tablet, 12);
                @include break(mobile, 12);
           }

    .footer {
        @include clearfix;
    }

        #inner-footer {
            @include grid (12);
        }
